.rooms_hero {
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        background: url('../images/background_rooms.jpg') center no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;
    }
}